<footer class="bg-main border-t-2 border-primary">
    <div class="mx-auto max-w-7xl">
        <section class="grid grid-cols-4 py-14 border-b border-border">
            <div class="flex items-center gap-4 mx-auto">
                <fa-icon [icon]="icons.rocketIcon" class="text-5xl text-primary1"></fa-icon>
                <div>
                    <h3 class="font-medium text-xl text-textBold">Fast Delivery</h3>
                    <p class="text-text">Shipping Worldwide</p>
                </div>
            </div>
            <div class="flex items-center gap-4 mx-auto">
                <fa-icon [icon]="icons.tagIcon" class="text-5xl text-primary2"></fa-icon>
                <div>
                    <h3 class="font-medium text-xl text-textBold">Open Discount</h3>
                    <p class="text-text">Offering Open Discount</p>
                </div>
            </div>
            <div class="flex items-center gap-4 mx-auto">
                <fa-icon [icon]="icons.leafIcon" class="text-5xl text-primary3"></fa-icon>
                <div>
                    <h3 class="font-medium text-xl text-textBold">Eyes On Quality</h3>
                    <p class="text-text">Publishing Quality Work</p>
                </div>
            </div>
            <div class="flex items-center gap-4 mx-auto">
                <fa-icon [icon]="icons.heartIcon" class="text-5xl text-primary4"></fa-icon>
                <div>
                    <h3 class="font-medium text-xl text-textBold">24/7 Support</h3>
                    <p class="text-text">Serving Every Moments</p>
                </div>
            </div>
        </section>

        <section class="grid grid-cols-3 py-14 gap-10">
            <div>
                <img src="/assets/logo.png" alt="logo" class="h-32 mx-auto" />
                <div class="flex flex-col gap-5 mt-8">
                    <div class="flex gap-5 items-center text-text">
                        <!-- <BsBuildings class="text-3xl" /> -->
                        <p class="text-sm">Suit # 07, Rose world Building, Street # 02, AT246T Manchester</p>
                    </div>
                    <div class="flex gap-5 items-center text-text">
                        <!-- <BsTelephone class="text-3xl" /> -->
                        <div class="text-sm">
                            <p>0800 12345 - 678 - 89</p>
                            <p>+4 1234 - 4567 - 67</p>
                        </div>
                    </div>
                    <div class="flex gap-5 items-center text-text">
                        <!-- <SlClock class="text-3xl" /> -->
                        <p class="text-sm">Serving 7 Days A Week From 9am - 5pm</p>
                    </div>
                    <div class="flex gap-5 items-center text-text">
                        <!-- <CiMail class="text-3xl" /> -->
                        <div class="text-sm text-primary">
                            <p>support&#64;domain.com</p>
                            <p>info&#64;domain.com</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="mt-5">
                    <SocialNetwork />
                </div> -->
            </div>
            <div>
                <h3 class="text-textBold font-medium border-b border-border pb-5">Shipping And Help Information</h3>
                <div class="mt-5 grid grid-cols-2 text-text text-sm">
                    <div class="flex flex-col gap-5">
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Terms of Use
                        </li>
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Terms of Sale
                        </li>
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Returns
                        </li>
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Privacy
                        </li>
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Cookies
                        </li>
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Contact Us
                        </li>
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Our Affiliates
                        </li>
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Vision & Aim
                        </li>
                    </div>
                    <div class="flex flex-col gap-5">
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Our Story
                        </li>
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Meet Our Team
                        </li>
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            FAQ
                        </li>
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Testimonials
                        </li>
                        <li class="cursor-pointer hover:text-primary transition duration-300 ease-in-out">
                            Join Our Team
                        </li>
                    </div>

                </div>
            </div>
            <div>
                <h3 class="text-textBold font-medium border-b border-border pb-5">Top Selling Authors</h3>
                <div class="mt-5 flex flex-col gap-5">
                    <div class="group flex gap-4 items-center">
                        <img src="/assets/author.png" alt="author"
                            class="w-16 border-transparent shadow-none group-hover:[box-shadow:0_0_8px_2px_rgba(0,0,0,0.5)] group-hover:border-white border-4 transitionPrimary cursor-pointer" />
                        <div>
                            <h3 class="text-textBold font-medium cursor-pointer hover:text-primary transitionPrimary">
                                Jude Morphew</h3>
                            <p class="text-text text-sm mt-2">21,658 Published Books</p>
                        </div>
                    </div>
                    <div class="group flex gap-4 items-center">
                        <img src="/assets/author.png" alt="author"
                            class="w-16 border-transparent shadow-none group-hover:[box-shadow:0_0_8px_2px_rgba(0,0,0,0.5)] group-hover:border-white border-4 transitionPrimary cursor-pointer" />
                        <div>
                            <h3 class="text-textBold font-medium cursor-pointer hover:text-primary transitionPrimary">
                                Shaun Humes</h3>
                            <p class="text-text text-sm mt-2">20,257 Published Books</p>
                        </div>
                    </div>
                    <div class="group flex gap-4 items-center">
                        <img src="/assets/author.png" alt="author"
                            class="w-16 border-transparent shadow-none group-hover:[box-shadow:0_0_8px_2px_rgba(0,0,0,0.5)] group-hover:border-white border-4 transitionPrimary cursor-pointer" />
                        <div>
                            <h3 class="text-textBold font-medium cursor-pointer hover:text-primary transitionPrimary">
                                Kathrine Culbertson</h3>
                            <p class="text-text text-sm mt-2">15,686 Published Books</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="bg-[#f2f2f2] py-10">
        <section class="max-w-7xl mx-auto grid grid-cols-2">
            <div>
                <h4 class="text-primary font-medium text-3xl">Signup Newsletter!</h4>
                <h5 class="mt-4 text-textBold tracking-widest">Consectetur adipisicing elit sed do eiusmod tempor
                    incididunt.</h5>
            </div>
            <div class="flex items-center">
                <Input placeholder="Nhập email của bạn"
                    class="h-[50px] w-full border border-primary rounded-md px-4 outline-none" />
            </div>
        </section>
    </div>
    <div class="bg-[#484848] relative">
        <div class="flex justify-between items-center text-white mx-auto max-w-7xl text-sm">
            <p>2017 All Rights Reserved By © Book Library</p>
            <img src="/assets/payFooter.png" alt="payFooter" />
        </div>
        <div (click)="handleScroll()"
            class="bg-white rounded-md w-10 h-10 absolute right-8 -top-5 flex items-center justify-center text-lg cursor-pointer">
            <fa-icon [icon]="icons.angleUpIcon"></fa-icon>
        </div>
    </div>
</footer>